@import "~bootstrap-icons/font/bootstrap-icons.css";

.logo img {
    height: 3em;
}  

.icon-button {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 1em; 
  }
  
  .icon-button i {
    font-size: 1.5rem; 
    color: #ffffff;
  }
  
  .icon-button:hover i {
    color: #c9c9c9; 
  }
  
