@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Forum&family=Handlee&family=Playwrite+NZ:wght@100..400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Full height for centering */
}

.main-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Full viewport height */
}

.form-container {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.438);
  width: 26em;
  height: 31em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Center text */
}

h2 {
  font-family: "Forum", serif;
  color: white;
}

.form-field {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column; /* Stack input fields vertically */
  align-items: center;
}

label {
  color: white;
  margin-bottom: 5px;
}

input {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%; /* Ensure inputs are full-width */
}

button {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgba(204, 204, 204, 0.713);
  cursor: pointer;
  font-family: "Handlee", cursive;
  margin-top: 10px;
  width: 100%; /* Ensure button is full-width */
}

button:hover {
  background-color: rgba(7, 35, 162, 0.568);
}

.error-message {
  color: red;
  margin-top: 10px;
}

.message {
  color: white;
}

.success-message {
  color: green;
  margin-top: 15px;
  text-align: center;
}
